#dagurdsa-nevailable {
  position: fixed;
  top: 100px;
  left: 0;
  background: #68256d;
  width: 28px;
  height: 27px;
  font: 15px Arial;
  color: #f5f0f0;
  text-align: center;
  padding: 40px 10px 0px 0px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  cursor:pointer;
}

#gechusudesab-sequiremen {
  position: fixed;
  top: 100px;
  left: -420px;
  background: #e4e4ea;
  color: #1f1e1e;
  width: 400px;
  height: 273px;
  padding: 8px;
  text-align: left;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
#dagurdsa-nevailable:hover {
  left: 215px;  
}
#dagurdsa-nevailable:hover #gechusudesab-sequiremen {
  left: 0;  
}